.app {
  min-width: 360px; }
  .app-bar {
    box-shadow: none !important;
    border-bottom: 1px solid #ddd; }
    .app-bar h1 {
      font-weight: 700 !important; }
    .app-bar svg {
      width: 24px;
      height: 24px; }
  .app-filter {
    display: none; }
  .app-header {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 64px 0 0;
    color: #000; }
    .app-header--description {
      margin: 24px; }
      .app-header--description .headline {
        max-width: 700px;
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 300;
        line-height: 140%;
        word-spacing: 0.1em; }
      .app-header--description .highlight {
        font-weight: 700; }
  .app-content {
    z-index: 20;
    background-color: #f4f6f8; }
  .app-footer {
    z-index: -1;
    display: inline-block;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px 32px;
    color: #b3b3b3;
    text-align: center;
    line-height: 140%; }
    .app-footer a {
      color: #000; }

@media screen and (min-width: 35.5em) {
  .app {
    margin: 0 auto; }
    .app-bar {
      position: relative !important;
      padding-right: 64px !important;
      padding-left: 64px !important;
      background-color: transparent !important;
      border-bottom: none; }
      .app-bar h1 {
        margin-top: 16px !important;
        font-size: 32px !important; }
      .app-bar--options {
        display: none !important; }
    .app-filter {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 0 32px; }
      .app-filter--icon {
        display: none; }
      .app-filter--option {
        width: 80% !important;
        font-size: 18px !important; }
    .app-content, .app-header {
      padding-right: 32px;
      padding-left: 32px; }
    .app-header {
      padding-top: 0; }
      .app-header--description {
        margin: 48px 32px; }
    .app-content {
      margin-bottom: 64px; } }

@media screen and (min-width: 64em) {
  .app-header--description .headline {
    font-size: 32px; }
  .app-filter--icon {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px; }
    .app-filter--icon svg {
      width: 32px;
      height: 32px; } }

@media screen and (min-width: 91.25em) {
  .app {
    max-width: 91.25em; } }
